<!DOCTYPE html>
<html>

<head>
    <title>Simple HTML Page</title>
    <style>
        body {
            background-color: #f0f0f0; /* Set a light background color */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        p {
            font-weight: bold;
            color: red;
            font-size: 200px; /* Set the font size to 36 pixels, adjust as needed */
        }
    </style>
</head>

<body>
    <div>
        <p>umma &hearts;</p>
    </div>
</body>

</html>
